*, *:before, *:after
  box-sizing: border-box

body
  max-width: 1100px

header
  border: blue solid 1px
  display: flex

  .logo
    border: red solid 1px
    flex-grow: 2
    align-self: center
    flex: 1

  .link1
    border: red solid 1px
    flex-grow: 1
    text-align: right

  .link2
    border: red solid 1px
    flex-grow: 0.5
    align-self: flex-end

.content
  display: flex
  flex-direction: column

h2
  color: blue

.test-flex
  background-color: gray
  flex: 1 0 auto

img
  flex: 1
  width: 100%
